.idea/
optout/
find-out/
/docs/
.Rproj.user
/data/interim/sample_metoo_tweets.csv
/data/raw/metoo/
/data/external/rapeglish/
.ipynb_checkpoints/
/notebooks/hatespeech/runs/
/runs/
/reports/hatespeech/figures/
Makefile
target/
.coverag*
build/
dist/
*.egg-info/
outputs/
output/
target/
__pycache__/
*.log
*.swp
